@media screen and (max-width:767px) {

    .header_container {

        .main-menu_icon {
            position: absolute;
            right: 1%;
            display: block !important;
            transition: $trans2;

            &:hover {
                color: white !important;
                transition: $trans2;

            }

            &:active {
                color: rgba(199, 198, 198, 0.904) !important;
                transition: none;
            }
        }

        .navbar_links {
            position: absolute;
            top: 70%;
            left: 130%;
            // top: -150%;
            opacity: 0;
            height: 17rem;
            width: 100%;
            background-color: black;
            flex-direction: column;
            z-index: 99;
            transition: all 1.7s ease;

            .nav_link {
                font-size: large;
                padding: .5rem 1rem !important;
                margin: .1rem;
                z-index: 99;

                // background-color: pink;

                & a {
                    color: white !important;
                    // background-color: yellow;
                    padding: .36rem 2.5rem !important;
                    text-shadow: none;
                    z-index: 99;

                    &:hover {
                        color: black !important;
                        text-shadow: none !important;
                        background-color: white;
                    }

                    &::after {
                        background-color: black !important;
                    }

                    &:active {
                        // background-color: aqua !important;
                        background-color: rgba(202, 202, 202, 0.932) !important;

                    }
                }
            }
        }

        .main_menu_btn:checked~.navbar_links {
            left: 0%;
            // top: 75%;
            opacity: 1;
            z-index: 99;
            transition: all .8s ease-out;
        }
    }
}
