@media (max-width: 1270px) {
    .leftBox{
        padding-left: 0 !important;
    }
}

@media (max-width: 1200px) {
    .leftBox{
        padding-left: 0 !important;

        .imgBox{

            img{
                height: 50vh !important;
            }
        }

        .middleBox{
            font-size: 2.2rem !important;
        }

        .bottomBox{
            // background-color: green;

            p{
                padding: 0 2rem !important;
                width: 55rem !important;
                font-size: 1.1rem !important;
                // background-color: red;
            }
        }
    }

    .abtRight{

        .rightBox{
            padding: 1rem 2rem !important;
            // padding-left: 2rem !important;
            // padding-top: 1rem !important;
        }

        .abtHeading{

            p{
                font-size: 2.3rem !important;
            }
        }

        .abtDataContainer{
            font-size: 1.5rem !important;
        }

        .abtResumeBtnBox{
            margin-top: 1.5rem !important;
        }
    }
}

@media (max-width:992px)
{
    .homeMain_box{

        .mid{
            p{
                font-size: 2.9rem !important;
            }

            .myWorkBtn{
                width: 12rem !important;
                font-size: 1.25rem !important;

                & i{
                    font-size: 1.1rem !important;
                }
            }
        }
    }
}

@media (max-width:768px)
{
    .homeMain_box{

        .mid{
            p{
                font-size: 2.7rem !important;
            }

            .myWorkBtn{
                width: 11.5rem !important;
                font-size: 1.25rem !important;
            }
        }
    }

    .rightBox{

        .abtDataContainer{
            font-size: 1.4rem !important;
            // background-color: red;
            margin: .7rem 0 1rem 0 !important;
        }
    }
}

@media (max-width:670px) {

    .homeBody{
        height: 100vh !important;
    }
    .homeMain_box{

        .mid{
            p{
                font-size: 2.4rem !important;
            }

            .myWorkBtn{
                width: 11rem !important;
            }
        }
    }

    .rightBox{

        .abtDataContainer{
            font-size: 1.36rem !important;
            // background-color: red;
        }
    }

}

@media (max-width:576px) {
    .homeBody{
        height: 100vh !important;
    }
    .homeMain_box{

        .mid{
            p{
                font-size: 6.5vw !important;
            }
            
            .project_btn{
                margin-top: 2.7rem !important;
            }

            .myWorkBtn{
                width: 11rem !important;
                font-size: 1.2rem !important;

                & i{
                    font-size: 1rem !important;
                }
            }
        }
    }
}

@media (max-width:500px) {
    .homeBody{
        height: 100vh !important;
    }

    .homeMain_box{

        .mid{

            p{
                font-size: 6.5vw !important;
                line-height: 3.4rem !important;
            }

            .myWorkBtn{
                width: 10rem !important;
                font-size: 1.1rem !important;

                & i{
                    font-size: .9rem !important;
                }
            }
        }
    }
}

@media (max-width:430px) {
    .homeBody{
        height: 100vh !important;
    }

    .homeMain_box{

        .mid{

            p{
                font-size: 6.5vw !important;
            }

            .project_btn{
                margin-top: 2.3rem !important;
            }

            .myWorkBtn{
                width: 9.5rem !important;
                font-size: 1rem !important;
            }
        }
    }
}
